<div class="container-fluid mt-3">
    <h4>Technology News <marquee>Read Updated news and subscribe my website </marquee></h4>
    <div class="row mt-3">
        <div *ngFor="let nd of techData" class="col-lg-3 mt-3 mb-3 ">
            <div class="box">
                <img src="{{nd.urlToImage}}" width="100%">
                <h5 class="mt-3 mb-3">{{nd.title}}</h5>
                <a class="btn btn-primary btn-sm" target="_blank" href="{{nd.url}}">Read more</a>
            </div>
            </div>
        </div>
    </div>